:root {
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --background-dark-color: #2f303a;
  --background-light-color: #f5f4fa;
}

body {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

* {
  text-decoration: none;
  padding: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--primary-text-color);
}

.header-navigation-link:hover,
.header-navigation-link:focus {
  color: var(--accent-color);
}

.header-navigation-link-current {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--secondary-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.text-for-profilepics>ul li {
  background-color: var(--white-color);
  box-shadow: 0px 2px 1px 0px #00000033;

  box-shadow: 0px 1px 1px 0px #00000024;

  box-shadow: 0px 1px 3px 0px #0000001f;
}

.hero-button:hover,
.hero-button:focus {
  color: rgb(255, 255, 255);
  background-color: var(--background-dark-color);
}

.hero-titles {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  border-color: var(--primary-text-color);
  margin-bottom: 30px;
}

.hero-titles .titles-for-paragraphs {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.text-for-paragraphs {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.paragraphs-disription {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.title-for-images1 {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.profile-images-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.paragraphs {
  font-weight: 400;
}

.paragraphs2 {
  font-weight: 400;
}

.text-for-profilepics {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: var(--background-light-color);
}

.title-for-images2 {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-light-color);
}

footer>address>li {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--white-color);
}

footer {
  background-color: var(--background-dark-color);
}

.white-address {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--white-color);
}

address {
  font-style: normal;
}

.mail-tele-color {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.our-futures {
  display: none;
}

/*next page / portfolio*/

.images-titles {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

header {
  height: 80px;
  border-radius: 0px;
  border-bottom: 1px var(--accent-color);
}

.top-bar {
  font-weight: 500;
  color: var(--primary-text-color);
}

.top-bar:hover,
.top-bar:focus {
  color: var(--accent-color);
}

.top-bar-current {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.all-blue-button:hover {
  color: var(--accent-color);
}

.filters-all-buttons {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
}

.all-buttons button {
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
}

.all-buttons>button:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
}

a {
  font-weight: 500;
  color: var(--secondary-text-color);
}

.all-blue-button>button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  box-shadow: 0px 2px 2px 0px #0000001f;
  box-shadow: 0px 1px 2px 0px #00000014;
  box-shadow: 0px 3px 1px 0px #0000001a;
  padding: 5px 20px;
  border-radius: 4px;
}

.all-blue-button>button:hover,
.all-blue-button>button:focus {
  color: var(--primary-text-color);
}

.profile-images-title-2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /*text-align: center;*/
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.text-for-profilepics2 {
  font-size: 16px;
  line-height: 19px;
  /* text-align: center;*/
  letter-spacing: 0.03em;
  color: #757575;
}

/*header*/
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

ul {
  padding: 0px;
  margin-top: 0;
  margin-bottom: 0px;
}

body {
  margin: 0px;
}

header {
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container nav {
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation-list-1 {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 100px;
}

.navigation-item:not(:last-child) {
  margin-right: 70px;
}

.header-navigation-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contacts-1 {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation-contact-info-1 {
  margin-right: 50px;
}

/*button backgounrd and button*/

.hero {
  padding-top: 200px;
  padding-bottom: 280px;
  background-color: var(--background-dark-color);
}

.paragraphs-discription {
  margin-top: 94px;
}

.positioning-for-paragraphs-1 {
  display: flex;
}

.paragraphs-item-1 {
  max-width: 270px;
}

.paragraphs-item-1:not(:last-child) {
  margin-right: 30px;
}


.features-item-1:not(:last-child) {
  margin-right: 30px;
}

.title-for-images1 {
  padding-top: 100px;
}

.title-for-images2 {
  padding-top: 94px;
  padding-bottom: 50px;
  margin: 0px;
}

.text-for-profilepics {
  margin-top: 94px;
}

.profilepic-positioning-1 {
  display: flex;
  padding-bottom: 94px;
}

.profilepic-item:not(:last-child) {
  margin-right: 30px;
}

.profilepic-item {
  box-shadow: 0px 2px 1px 0px #00000033;

  box-shadow: 0px 1px 1px 0px #00000024;

  box-shadow: 0px 1px 3px 0px #0000001f;
  border-radius: 0px 0px 4px 4px;
}

.footer-paddings {
  padding-top: 60px;
  padding-bottom: 60px;
}

/*portfolio page*/
.header-container-2 {
  display: flex;
  align-content: center;
}

.header-section-2 {
  border-bottom: 1px solid #ececec;
}

.header-section-2 ul {
  display: flex;
}

.navigation-list-2 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-item-2:not(:last-child) {
  margin-right: 70px;
}

.navigation-item:not(:last-child) {
  margin-right: 70px;
}

.navigation-item {
  display: block;
}

.header-contacts-2 {
  align-items: center;
  margin-left: auto;
}

.navigation-contact-info-2 {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}

.button-positioning-list {
  display: flex;
}

.filters-all-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 94px;
}

.filters-all-buttons button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.button-positioning-list-2:not(:last-child) {
  margin-right: 8px;
}

.the-9-images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 94px;
  min-width: 1200px;
}

.profile-images-title-2 {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.paragraphs2 {
  margin-top: 0px;
  margin-left: 10px;
  padding-bottom: 15px;
}

.computerimg1-9-same {
  margin: auto;
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}

.footer-logo {
  margin-bottom: 5px;
}

.footer-paddings-2 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header-section {
  border-bottom: #ECECEC;
  border-bottom-style: solid;
  border: 1px solid #ECECEC;

}

* {
  margin: 0px;
  padding: 0px;
}

.header-container {
  align-items: center;
}

.header-navigation-link-2 {
  display: flex;
  align-items: center;

}

.header-logo {
  font-weight: 700;
}

.text-for-paragraphs {
  margin-top: 10px;
}

.paragraphs {
  padding-top: 10px;
}

.what-we-do-positioning {
  display: flex;
  padding-top: 50px;
  margin-top: 0px;
}

.footer-logo-1 {
  display: block;
  margin-bottom: 10px;
}


.footer-paddings-1 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-paragraph-space-1 {
  margin-top: 2px;
}

.navigation-contact-info-1 {
  padding-right: 50px;
  margin: 0px;
}


.titles-for-paragraphs {
  margin-bottom: 10px;
}

.text-for-paragraphs {
  margin-top: 0px;
}

.text-for-profilepics {
  margin-top: 0px;
}

.images-padding-1 {
  padding-bottom: 94px;
}

.profile-pic-spaces-p-1 {
  padding: 30px 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}



.profile-pic-spaces-p-2 {
  padding: 20px 24px;
  border-top: 0px;
  background: #FFFFFF;
  border: 0px 1px 1px 1px;
  border-color: #EEEEEE;
}